{
  "printWidth": 80,
  "proseWrap": "always",
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["*.html", "*.xml"],
      "options": {
        "parser": "go-template",
        "goTemplateBracketSpacing": true,
        "bracketSameLine": true
      }
    }
  ]
}
